/**
 * YouTube Music Solarized
*/

html, body { background: #002B36 !important; }

html, ytmusic-detail-header-renderer
  {
    background-color: #002B36 !important;
  }

ytmusic-nav-bar
  {
    background: #002B36 !important;
  }

 ytmusic-player-bar
  {
    background: #002B36 !important;
  }

  html:not(.style-scope)
  {
    --ytmusic-text-primary: #2AA198 !important;
    --ytmusic-text-secondary: #93A1A1 !important;
    --ytmusic-brand-background-solid: #002B36 !important;
    --ytmusic-menu-item-icon_-_fill: #c6262e !important;
    --ytmusic-inactive-tab: #d4d4d4 !important;
    --ytmusic-color-youtubered: #DC322F !important;
    --ytmusic-icon-inactive: #657B83 !important;
    --ytmusic-color-white1-alpha10: #075366 !important;
    --ytmusic-subtitle-2_-_color: #d4d4d4 !important;
    --ytmusic-divider: #B58900 !important;
    --ytmusic-detail-header: #002B36 !important;
    --yt-endpoint-color: #6C71C4 !important;
    --yt-endpoint-visited-color: #6C71C4 !important;
    --yt-spec-call-to-action: #6C71C4 !important;
    --ytmusic-color-black4: #002B36 !important;
  }

 ytmusic-player-page {
     background-color: #002B36 !important;
 }