* {
    font-weight: bold;
    border-radius: 0;
}

window {
	background-color: rgba(0, 0, 0, 0);
}

#input {
	padding: 5px;
	border: 0px solid #3481DD;
	color: #ffffff;
	font-size: 14px;
	background-color: rgba(49,54,59, 1);
}

#input image {
	margin: 6px;
}

#scroll {
    font-size: 14px;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
}

#img {
	margin: 0px 5px 0px 0px;
}

#inner-box flowboxchild {
	padding: 2px;
}

#inner-box flowboxchild:selected {
    background-color: #3481DD;
    color: #ffffff;
}

list {
	background-color: #0f5f8a;
}

