icons = "awesome5"

[theme]
name = "solarized-dark"
[theme.overrides]
idle_bg = "#002b36"
idle_fg = "#93a1a1"
info_bg = "#2aa198"
info_fg = "#002b36"
good_bg = "#859900"
good_fg = "#002b36"
warning_bg = "#b58900"
warning_fg = "#002b36"
critical_bg = "#dc322f"
critical_fg = "#002b36"

[[block]]
block = "focused_window"
max_width = 50
show_marks = "visible"

[[block]]
block = "networkmanager"
primary_only = true
on_click = "footclient --app-id=nmtui --title='Network configuration' nmtui"
interface_name_exclude = ["br\\-[0-9a-f]{12}", "docker\\d+"]
interface_name_include = []
device_format = "{icon}{ap}"

[[block]]
block = "music"
buttons = ["prev", "play", "next"]
marquee = false
max_width = 30
smart_trim = true
on_collapsed_click = "deadbeef"
on_click = "deadbeef"

[[block]]
block = "keyboard_layout"
driver = "sway"
sway_kb_identifier = "1:1:AT_Translated_Set_2_keyboard"

[[block]]
block = "backlight"
step_width = 1

[[block]]
block = "sound"
on_click = "pavucontrol"
step_width = 1

[[block]]
block = "battery"
interval = 10
format = "{percentage}%"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"

