[Desktop Entry]
Type=Application
Name=Ytop
Comment=Resource Monitor
Icon=utilities-terminal
Exec=footclient --title='Ytop' ytop
Categories=System;Monitor;ConsoleOnly;
