[Desktop Entry]
Type=Application
Name=Ytop
Comment=Resource Monitor
Icon=utilities-terminal
Exec=termite -t 'Ytop' -e ytop
Categories=System;Monitor;ConsoleOnly;
